on:
  workflow_dispatch:
  push:

jobs:
  display-variables:
    runs-on: ${{ vars.RUNNER }}
    steps:
    - name: Use variables
    #es un context no se puede llamar como abajo
      run: |
        echo "$GITHUB_ACTION"


        
