on:
  workflow_dispatch:
  push:

jobs:
  display-variables:
    runs-on: ${{ vars.RUNNER }}
    steps:
    - name: Use variables
      run: |
        echo "$GITHUB_ACTION $GITHUB_ACTOR_ID"	
        echo "$GITHUB_ACTION_PATH"

        
